<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
		 colors="true"
		 stopOnFailure="false"
		 displayDetailsOnTestsThatTriggerDeprecations="true"
		 testdox="true">
	<testsuites>
		<testsuite name="Payclip PHP SDK by Doqimi Test Suite">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
